<div class="modal-header">
  <h4 class="modal-title">
    {{ id_car ? "Modificare" : "Adăugare" }} informație
  </h4>
</div>

<div class="modal-body">
  <form [formGroup]="carForm" (ngSubmit)="save()" id="car-form">
    <div class="row">
      <label class="col-2 control-label">Marcă*</label>
      <div class="col-4">
        <input
          formControlName="brand"
          class="form-control"
          placeholder="Marcă..."
          maxlength="255"
          [class.error]="brand?.invalid && brand?.touched"
        />
        <small class="text-danger" *ngIf="brand?.invalid && brand?.touched">
          Marca trebuie introdusă
        </small>
      </div>

      <label class="col-2 control-label">Model*</label>
      <div class="col-4">
        <input
          formControlName="model"
          class="form-control"
          placeholder="Model..."
          maxlength="255"
          [class.error]="model?.invalid && model?.touched"
        />
        <small class="text-danger" *ngIf="model?.invalid && model?.touched">
          Modelul trebuie introdus
        </small>
      </div>
    </div>

    <div class="row">
      <label class="col-2 control-label">Anul fabricației*</label>
      <div class="col-4">
        <input
          formControlName="year"
          class="form-control"
          placeholder="Anul fabricației..."
          maxlength="4"
          [class.error]="year?.invalid && year?.touched"
        />
        <div *ngIf="year?.invalid && year?.touched">
          <small class="text-danger" *ngIf="year?.hasError('required')">
            Anul fabricației trebuie introdus
          </small>
          <small class="text-danger" *ngIf="year?.hasError('pattern')">
            Anul fabricației invalid
          </small>
          <small class="text-danger" *ngIf="year?.hasError('futureYear')">
            Anul fabricației pare incorect
          </small>
        </div>
      </div>

      <label class="col-2 control-label">Capacitatea cilindrică*</label>
      <div class="col-4">
        <input
          formControlName="cylinder_capacity"
          class="form-control"
          placeholder="Capacitatea cilindrică..."
          maxlength="4"
          [class.error]="
            cylinder_capacity?.invalid && cylinder_capacity?.touched
          "
        />
        <div *ngIf="cylinder_capacity?.invalid && cylinder_capacity?.touched">
          <small
            class="text-danger"
            *ngIf="cylinder_capacity?.hasError('required')"
          >
            Capacitatea cilindrică trebuie introdusă
          </small>
          <small
            class="text-danger"
            *ngIf="cylinder_capacity?.hasError('pattern')"
          >
            Capacitatea cilindrică invalidă
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="col-2 control-label">Taxa de impozit*</label>
      <div class="col-4">
        <input
          formControlName="tax"
          class="form-control"
          placeholder="Taxa de impozit..."
          readonly
        />
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.dismiss()"
  >
    Renunță
  </button>

  <button
    type="button"
    class="btn btn-success"
    type="submit"
    form="car-form"
    [disabled]="carForm.invalid"
  >
    Salvează
  </button>
</div>
