.column-id {
  width: 60px;
}

.column-brand {
  width: 200px;
}

.column-model {
  width: auto;
}

.column-year {
  width: 100px;
}

.column-cylinder-capacity {
  width: 140px;
}

.column-tax {
  width: 100px;
}
