.column-id {
  width: 60px;
}

.column-name {
  width: 200px;
}

.column-cnp {
  width: 100px;
}

.column-age {
  width: 50px;
}

.column-cars {
  width: auto;
}

.column-brand {
  width: auto;
}

.column-year {
  width: 100px;
}

.column-cylinders {
  width: 140px;
}

.column-tax {
  width: 100px;
}
