<div class="modal-header">
  <h4 class="modal-title">
    {{ id_person ? "Modificare" : "Adăugare" }} informație
  </h4>
</div>

<div class="modal-body">
  <form [formGroup]="personForm" (ngSubmit)="save()" id="person-form">
    <div class="row">
      <label class="col-2 control-label">Prenume*</label>
      <div class="col-4">
        <input
          formControlName="first_name"
          class="form-control"
          placeholder="Prenume..."
          maxlength="255"
          [class.error]="first_name?.invalid && first_name?.touched"
        />
        <small
          class="text-danger"
          *ngIf="first_name?.invalid && first_name?.touched"
          >Prenumele trebuie introdus</small
        >
      </div>

      <label class="col-2 control-label">Nume*</label>
      <div class="col-4">
        <input
          formControlName="last_name"
          class="form-control"
          placeholder="Nume..."
          maxlength="255"
          [class.error]="last_name?.invalid && last_name?.touched"
        />
        <small
          class="text-danger"
          *ngIf="last_name?.invalid && last_name?.touched"
          >Numele trebuie introdus</small
        >
      </div>
    </div>

    <div class="row">
      <label class="col-2 control-label">CNP*</label>
      <div class="col-4">
        <input
          formControlName="cnp"
          class="form-control"
          placeholder="CNP..."
          maxlength="13"
          [class.error]="(cnp?.invalid && cnp?.touched) || errors['cnp']"
          (ngModelChange)="clearErrors()"
        />
        <div *ngIf="cnp?.invalid && cnp?.touched">
          <small class="text-danger" *ngIf="cnp?.hasError('required')"
            >CNP-ul trebuie introdus</small
          >
          <small class="text-danger" *ngIf="cnp?.hasError('invalidCnp')"
            >Cnp invalid</small
          >
        </div>
        <small [hidden]="!errors['cnp']" class="text-danger">
          {{ errors["cnp"] }}
        </small>
      </div>

      <label class="col-2 control-label">Vârsta*</label>
      <div class="col-4">
        <input
          formControlName="age"
          class="form-control"
          placeholder="Vârsta..."
          maxlength="3"
          readonly
        />
      </div>
    </div>

    <div class="row">
      <label class="col-2 control-label">Mașini</label>
      <ng-select
        [items]="cars"
        [multiple]="true"
        [hideSelected]="true"
        placeholder="Selectează mașini..."
        bindLabel="carLabel"
        bindValue="id_car"
        formControlName="selectedCarsIds"
      >
      </ng-select>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.dismiss()"
  >
    Renunță
  </button>

  <button
    type="button"
    class="btn btn-success"
    type="submit"
    form="person-form"
    [disabled]="personForm.invalid"
  >
    Salvează
  </button>
</div>
